---
- name: Setup storage
  become: true
  hosts: vmstorage
  roles:
    - vmstorage

- name: Setup vmselect
  become: true
  hosts: vmselect
  vars:
    vmselect_cache_dir: "/var/lib/vmselect"
    vmselect_config:
      cacheDataPath: "/var/lib/vmselect"
      storageNode: "{{ groups['vmstorage'] | join(',') }}"
  roles:
    - vmselect

- name: Setup vminsert
  become: true
  hosts: vminsert
  vars:
    vminsert_config:
      storageNode: "{{ groups['vmstorage'] | join(',') }}"
  roles:
    - vminsert

- name: Setup vmauth
  become: true
  hosts: vmauth
  vars:
    vmauth_auth_config: "{{ lookup('template', playbook_dir ~ '/../templates/vmauth_auth_config.j2') }}"
  roles:
    - vmauth

- name: Setup grafana
  become: true
  hosts: grafana
  roles:
    - grafana
