---
- name: Setup storage
  become: true
  hosts: vmstorage
  roles:
    - vmstorage

- name: Setup vmselect
  become: true
  hosts: vmselect
  vars:
    vmselect_cache_dir: "/var/lib/vmselect"
    vmselect_config:
      cacheDataPath: "/var/lib/vmselect"
      storageNode: "{{ groups['vmstorage'] | join(',') }}"
  roles:
    - vmselect

- name: Setup vminsert
  become: true
  hosts: vminsert
  vars:
    vminsert_config:
      storageNode: "{{ groups['vmstorage'] | join(',') }}"
  roles:
    - vminsert

- name: Setup vmauth
  become: true
  hosts: vmauth
  vars:
    vmauth_auth_config: "{{ lookup('template', playbook_dir ~ '/../templates/vmauth_auth_config.j2') }}"
  roles:
    - vmauth

- name: Setup grafana
  become: true
  hosts: grafana
  roles:
    - grafana

- name: Setup vmagent
  become: true
  hosts: vmagent
  roles:
    - role: vmagent
      vars:
        vmagent_service_args:
          promscrape.config: /opt/vic-vmagent/config.yml
          remoteWrite.tmpDataPath: /opt/vic-vmagent/remotewrite-data
          remoteWrite.maxDiskUsagePerURL: 30GB
          remoteWrite.flushInterval: 5s
          remoteWrite.url:
            - "http://{{ hostvars[groups['vminsert'][0]].ansible_host | default(groups['vminsert'][0]) }}:8480/insert/0/prometheus"
            - "http://{{ hostvars[groups['vminsert'][1]].ansible_host | default(groups['vminsert'][1]) }}:8480/insert/0/prometheus"
